@charset "UTF-8";
/**
 *
 * Structure (grid and etc.)
 *
 */

/*----------  Definitions  ----------*/

header.grid__child {
  grid-area: header;
}

main.grid__child {
  grid-area: main;
}

aside.int-menu {
  grid-area: sidebar1;
}

aside.ext-menu {
  grid-area: sidebar2;
}

footer.grid__child {
  grid-area: footer;
}

/*----------  Grid (phone-first)  ----------*/

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "header"
    "main"
    "sidebar1"
    "sidebar2"
    "footer";
  gap: 1rem 0; /* row-gap col-gap */
  place-items: center; /* justify-item align-item */
  justify-content: space-between;
}

.grid__child {
  width: 100%;
  justify-content: start;
  align-self: start;
}

/*----------  Grid (tablet)  ----------*/

@media screen and (min-width: 960px) {
  .grid {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      ". header"
      "sidebar1 main"
      "sidebar2 main"
      ". footer";
    gap: 1rem 0; /* row-gap col-gap */
    place-items: center; /* justify-item align-item */
    justify-content: space-between;
  }
}
