# Ignore node_modules
/node_modules

# Ignore sensitive files
.htaccess

# Ignore configuration files
# .htmlhintrc
# .prettierrc
# .prettyphp
# .stylelintrc
cspell.json
fandom-terms.txt
project-words.txt
prepros.config
package-lock.json
